.chica-universitaria-que-trabaj-icon2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1366px;
  height: 845px;
  object-fit: cover;
}
.cuadro-info-child {
  position: relative;
  border-radius: var(--br-5xl);
  background-color: var(--color-white);
  box-shadow: 0 0 35px 11px rgba(0, 0, 0, 0.6);
  width: 445px;
  height: 611px;
}
.cuadro-info {
  position: absolute;
  top: 112px;
  left: 62px;
  width: 445px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.regstrate-en {
  margin: 0;
  font-weight: 600;
}
.span {
  font-family: var(--font-montserrat-alternates);
}
.technebog-digital-wallet2 {
  font-weight: 600;
}
.regstrate-en-technebog-container1 {
  line-break: anywhere;
  width: 100%;
}
.regstrate-en-technebog-container {
  position: absolute;
  top: 146px;
  left: 96px;
  line-height: 130%;
  display: flex;
  align-items: center;
  width: 377.36px;
  height: 53.76px;
}
.banca-en-linea-registro-child {
  position: absolute;
  top: 205.68px;
  left: 114px;
  width: 340.84px;
  height: 2px;
}
.introduzca-los-datos {
  margin: 0;
}
.introduzca-los-datos-container {
  position: absolute;
  top: 229.05px;
  left: 118px;
  font-size: var(--font-size-mini);
  line-height: 130%;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 334px;
  height: 38px;
}
.banca-en-linea-registro-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 1366px;
  height: 71px;
}
.union-child4,
.union-child5 {
  position: absolute;
  top: 0;
  background-color: var(--color-darkslategray-100);
  height: 48px;
}
.union-child4 {
  left: 2px;
  border-radius: var(--br-5xs);
  width: 39px;
}
.union-child5 {
  left: 7px;
  width: 34px;
}
.union3 {
  position: relative;
  background-color: var(--color-honeydew);
  width: 39px;
  height: 48px;
}
.usuario2 {
  width: 252px;
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 5px;
  left: 49px;
}
.icon14,
.usuario1 {
  position: absolute;
  overflow: hidden;
}
.icon14 {
  height: 37.5%;
  width: 5.14%;
  top: 31.25%;
  right: 91.14%;
  bottom: 31.25%;
  left: 3.71%;
  max-width: 100%;
  max-height: 100%;
}
.usuario1 {
  top: 360px;
  left: 110px;
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-100);
  border: 2px solid var(--color-lightseagreen);
  box-sizing: border-box;
  width: 350px;
  height: 48px;
}
.correo-electrnico1 {
  width: 248px;
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 5px;
  left: 51px;
}
.icon15 {
  height: 37.5%;
  width: 6.29%;
  top: 31.25%;
  right: 90.57%;
  bottom: 31.25%;
  left: 3.14%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.clave1,
.correo,
.icon15 {
  position: absolute;
}
.correo {
  top: 430px;
  left: 110px;
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-100);
  border: 2px solid var(--color-lightseagreen);
  box-sizing: border-box;
  width: 350px;
  height: 48px;
  overflow: hidden;
}
.clave1 {
  width: 251px;
  border: 0;
  background-color: transparent;
  top: 5px;
  left: 49px;
}
.clave,
.icon16 {
  position: absolute;
  overflow: hidden;
}
.icon16 {
  height: 39.58%;
  width: 4.57%;
  top: 29.17%;
  right: 91.43%;
  bottom: 31.25%;
  left: 4%;
  max-width: 100%;
  max-height: 100%;
}
.clave {
  top: 500px;
  left: 110px;
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-100);
  border: 2px solid var(--color-lightseagreen);
  box-sizing: border-box;
  width: 350px;
  height: 48px;
}
.confirme-la-clave-container {
  width: 250px;
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 7px;
  left: 50px;
}
.confirmar,
.icon17 {
  position: absolute;
  overflow: hidden;
}
.icon17 {
  height: 41.67%;
  width: 4.57%;
  top: 29.17%;
  right: 91.43%;
  bottom: 29.17%;
  left: 4%;
  max-width: 100%;
  max-height: 100%;
}
.confirmar {
  top: 570px;
  left: 110px;
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-100);
  border: 2px solid var(--color-lightseagreen);
  box-sizing: border-box;
  width: 350px;
  height: 48px;
}
.cedula1 {
  width: 197px;
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 4px;
  left: 50px;
}
.cedula,
.icon18 {
  position: absolute;
  overflow: hidden;
}
.icon18 {
  height: 37.5%;
  width: 6.29%;
  top: 33.33%;
  right: 90.57%;
  bottom: 29.17%;
  left: 3.14%;
  max-width: 100%;
  max-height: 100%;
}
.cedula {
  top: 290px;
  left: 110px;
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-100);
  border: 2px solid var(--color-lightseagreen);
  box-sizing: border-box;
  width: 350px;
  height: 48px;
}
.component-4 {
  position: absolute;
  top: 645px;
  left: 139px;
  width: 290.12px;
  height: 44.63px;
  cursor: pointer;
}
.logo-icon5 {
  position: relative;
  width: 94.53px;
  height: 74px;
  object-fit: cover;
  mix-blend-mode: normal;
}
.technebog5,
.un-aliado-de5 {
  position: relative;
  line-height: 130%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 476px;
  height: 46px;
  flex-shrink: 0;
}
.un-aliado-de5 {
  font-size: var(--subtitulo-size);
  font-family: var(--subtitulo);
  height: 31px;
}
.component-23,
.logo-parent1,
.technebog-parent2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.technebog-parent2 {
  width: 358px;
  flex-direction: column;
  gap: var(--gap-12xs);
}
.component-23,
.logo-parent1 {
  width: 453px;
}
.logo-parent1 {
  flex-direction: row;
  flex-wrap: wrap;
}
.component-23 {
  position: absolute;
  top: -5px;
  left: 0;
  height: 76px;
  flex-direction: column;
  font-size: var(--titulo-size);
  color: var(--color-mediumaquamarine);
  font-family: var(--titulo);
}
.banca-en-linea-registro {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 768px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-3xl);
  color: var(--color-black);
  font-family: var(--font-montserrat-alternates);
}
