@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.mesa-de-trabajo-1-12 {
  position: absolute;
  bottom: 0;
  left: calc(50% - 683px);
  width: 1370px;
  height: 630px;
  object-fit: cover;
}
.banca-en-linea-terceros-child {
  position: absolute;
  top: 132px;
  left: 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0), #28cc9e);
  width: 1366px;
  height: 636px;
}
.banca-en-linea-terceros-item {
  position: absolute;
  top: calc(50% - 130px);
  left: calc(50% - 467px);
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  width: 934px;
  height: 411px;
}
.tranferencias-a-terceros {
  position: absolute;
  top: 238px;
  left: calc(50% - 134px);
  line-height: 130%;
  font-weight: 600;
  color: var(--color-mediumaquamarine);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 269px;
  height: 116px;
}
.bienvenidoa2 {
  font-weight: 600;
}
.bienvenidoa-josefina-mara-container5 {
  line-break: anywhere;
  width: 100%;
}
.bienvenidoa-josefina-mara-container4 {
  top: 155px;
  left: 24px;
  line-height: 130%;
  display: flex;
  align-items: center;
  width: 245px;
}
.bienvenidoa-josefina-mara-container4,
.div16,
.ultima-conexin-2 {
  position: absolute;
  font-size: var(--font-size-mini);
  height: 17px;
}
.ultima-conexin-2 {
  top: 183px;
  left: 24px;
  line-height: 130%;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 373px;
}
.div16 {
  top: 192px;
  left: 1065px;
  width: 101px;
}
.activos,
.div16,
.la-informacin-mostrada2 {
  line-height: 130%;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.la-informacin-mostrada2 {
  position: absolute;
  top: 731px;
  left: calc(50% - 256px);
  font-size: var(--font-size-smi);
  text-align: center;
  justify-content: center;
  width: 512px;
  height: 17px;
}
.activos {
  top: 354px;
  left: 253px;
  color: var(--color-white);
  width: 162px;
  height: 14px;
}
.activos,
.beca,
.icon24 {
  position: absolute;
}
.beca {
  top: 519px;
  left: 253px;
  line-height: 130%;
  font-weight: 600;
  color: var(--color-white);
  display: flex;
  align-items: center;
  width: 162px;
  height: 14px;
}
.icon24 {
  height: 1.17%;
  width: 1.24%;
  top: 67.97%;
  right: 18.3%;
  bottom: 30.86%;
  left: 80.45%;
  border-radius: var(--br-12xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.activo-a-debitar-parent,
.cuenta-destino-parent,
.group-child2 {
  width: 338px;
  position: absolute;
  top: 343px;
  left: calc(50% - 345px);
}
.cuenta-destino-parent,
.group-child2 {
  left: calc(50% + 8px);
}
.group-child2 {
  top: 0;
  left: calc(50% - 169px);
  background-color: var(--color-honeydew);
  height: 49px;
}
.monto {
  width: 197px;
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 7px;
  left: 17px;
}
.rectangle-container {
  position: absolute;
  top: 412px;
  left: calc(50% - 345px);
  width: 338px;
  height: 49px;
}
.concepto {
  width: 320px;
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 5px;
  left: 11px;
}
.procesar2,
.rectangle-parent1 {
  position: absolute;
  top: 412px;
  left: calc(50% + 8px);
  width: 338px;
  height: 49px;
}
.procesar2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 578px;
  left: calc(50% - 77px);
  width: 170px;
  height: 45px;
}
.procesar2:hover {
  animation: 1s ease 0s infinite normal none fade-in;
  opacity: 1;
}
.component-19-child2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-mediumaquamarine);
  border: 1px solid var(--color-honeydew);
  box-sizing: border-box;
}
.component-194,
.cuenta-no-registrada {
  position: absolute;
  top: 469px;
  left: 338px;
  width: 17px;
  height: 17px;
}
.cuenta-no-registrada {
  left: 367px;
  font-size: var(--font-size-xs);
  line-height: 130%;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 196px;
}
.logo-icon7 {
  position: relative;
  width: 94.53px;
  height: 74px;
  object-fit: cover;
  mix-blend-mode: normal;
}
.technebog7,
.un-aliado-de7 {
  position: relative;
  line-height: 130%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 476px;
  height: 46px;
  flex-shrink: 0;
}
.un-aliado-de7 {
  font-size: var(--subtitulo-size);
  font-family: var(--subtitulo);
  height: 31px;
}
.component-201,
.logo-parent3,
.technebog-parent4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.technebog-parent4 {
  width: 358px;
  flex-direction: column;
  gap: var(--gap-12xs);
}
.component-201,
.logo-parent3 {
  width: 453px;
}
.logo-parent3 {
  flex-direction: row;
  flex-wrap: wrap;
}
.component-201 {
  position: absolute;
  top: -5px;
  left: -1px;
  height: 77px;
  flex-direction: column;
  text-align: center;
  font-size: var(--titulo-size);
  color: var(--color-mediumaquamarine);
  font-family: var(--titulo);
}
.barra-de-opciones-child2,
.component-16-child2 {
  position: absolute;
  height: 96.83%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 3.17%;
  left: 0;
  background-color: var(--color-honeydew);
}
.component-16-child2 {
  height: 100%;
  bottom: 0;
}
.inicio9 {
  position: absolute;
  height: 26.23%;
  width: 53.91%;
  top: 37.7%;
  left: 23.48%;
  line-height: 130%;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.component-164 {
  position: absolute;
  height: 96.83%;
  width: 6.19%;
  top: 0;
  right: 91.92%;
  bottom: 3.17%;
  left: 1.89%;
  cursor: pointer;
}
.transferencias8 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  line-height: 130%;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.icon25 {
  position: absolute;
  height: 38.86%;
  width: 9.69%;
  top: 30.57%;
  right: -0.86%;
  bottom: 30.57%;
  left: 91.17%;
  border-radius: var(--br-12xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.component-1811,
.transferencias-parent5 {
  position: absolute;
  height: 26.23%;
  width: 72.9%;
  top: 36.07%;
  right: 13.26%;
  bottom: 37.7%;
  left: 13.84%;
}
.component-1811 {
  height: 87.3%;
  width: 11.58%;
  top: 3.17%;
  right: 65.99%;
  bottom: 9.52%;
  left: 22.43%;
  cursor: pointer;
  text-align: left;
}
.perfil5 {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  line-height: 130%;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon26 {
  position: absolute;
  height: 25%;
  width: 11.69%;
  top: 181.25%;
  right: -33.77%;
  bottom: -106.25%;
  left: 122.08%;
  border-radius: var(--br-12xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.component-1812,
.perfil-parent3 {
  position: absolute;
  height: 26.23%;
  width: 59.69%;
  top: 37.7%;
  right: 20.16%;
  bottom: 36.07%;
  left: 20.16%;
}
.component-1812 {
  height: 96.83%;
  width: 6.63%;
  top: 0;
  right: 85.36%;
  bottom: 3.17%;
  left: 8.01%;
  cursor: pointer;
}
.salir5 {
  position: absolute;
  height: 26.23%;
  width: 44.29%;
  top: 36.07%;
  left: 27.14%;
  line-height: 130%;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.component-174,
.component-195 {
  position: absolute;
  height: 92.06%;
  width: 5.1%;
  top: 3.17%;
  right: 51.42%;
  bottom: 4.76%;
  left: 43.48%;
  cursor: pointer;
}
.component-195 {
  height: 95.24%;
  width: 8.67%;
  top: 0;
  right: 76.98%;
  left: 14.35%;
}
.barra-de-opciones8,
.transferencias9 {
  position: absolute;
  top: 0;
  left: -14px;
  width: 1375px;
  height: 63px;
}
.transferencias9 {
  height: 100%;
  width: 100%;
  left: 0;
  line-height: 130%;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon27 {
  position: absolute;
  height: 25%;
  width: 7.96%;
  top: 175%;
  right: -18.98%;
  bottom: -100%;
  left: 111.01%;
  border-radius: var(--br-12xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.component-1813 {
  position: absolute;
  height: 87.3%;
  width: 11.58%;
  top: 4.76%;
  right: 58.96%;
  bottom: 7.94%;
  left: 29.45%;
  cursor: pointer;
}
.barra-de-opciones7 {
  position: absolute;
  top: 68px;
  left: 0;
  width: 1375px;
  height: 63px;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-mediumaquamarine);
}
.banca-en-linea-terceros {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 768px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-montserrat-alternates);
}
