@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.mesa-de-trabajo-1-14 {
  position: absolute;
  bottom: 0;
  left: calc(50% - 683px);
  width: 1370px;
  height: 630px;
  object-fit: cover;
}
.banca-en-linea-perfil-child {
  position: absolute;
  top: 132px;
  left: 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0), #28cc9e);
  width: 1366px;
  height: 636px;
}
.banca-en-linea-perfil-item {
  position: absolute;
  top: calc(50% - 130px);
  left: calc(50% - 467px);
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  width: 934px;
  height: 411px;
}
.acualizar-datos {
  position: absolute;
  top: 238px;
  left: calc(50% - 116px);
  font-size: var(--font-size-xl);
  line-height: 130%;
  font-weight: 600;
  color: var(--color-mediumaquamarine);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 232px;
  height: 116px;
}
.bienvenidoa4 {
  font-weight: 600;
}
.bienvenidoa-josefina-mara-container9 {
  line-break: anywhere;
  width: 100%;
}
.bienvenidoa-josefina-mara-container8 {
  position: absolute;
  top: 155px;
  left: 24px;
  line-height: 130%;
  text-align: left;
  display: flex;
  align-items: center;
  width: 245px;
  height: 17px;
}
.ultima-conexin-4 {
  top: 183px;
  left: 24px;
  text-align: left;
  width: 373px;
}
.div28,
.la-informacin-mostrada4,
.ultima-conexin-4 {
  position: absolute;
  line-height: 130%;
  font-weight: 600;
  display: flex;
  align-items: center;
  height: 17px;
}
.div28 {
  top: 192px;
  left: 1065px;
  text-align: left;
  width: 101px;
}
.la-informacin-mostrada4 {
  top: 731px;
  left: calc(50% - 256px);
  font-size: var(--font-size-smi);
  justify-content: center;
  width: 512px;
}
.union-child14 {
  position: absolute;
  top: 0;
  left: 2px;
  background-color: var(--color-darkslategray-100);
  width: 39px;
  height: 48px;
}
.union8 {
  position: relative;
  background-color: var(--color-honeydew);
  width: 39px;
  height: 48px;
}
.correo-electrnico2 {
  width: 221px;
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 5px;
  left: 50px;
}
.correo1,
.icon32 {
  position: absolute;
  overflow: hidden;
}
.icon32 {
  height: 37.5%;
  width: 6.29%;
  top: 31.25%;
  right: 90.57%;
  bottom: 31.25%;
  left: 3.14%;
  max-width: 100%;
  max-height: 100%;
}
.correo1 {
  top: 372px;
  left: 309px;
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-100);
  border: 2px solid var(--color-lightseagreen);
  box-sizing: border-box;
  width: 350px;
  height: 48px;
}
.union-child15,
.union-child16 {
  position: absolute;
  top: 0;
  background-color: var(--color-darkslategray-100);
  height: 48px;
}
.union-child15 {
  left: 2px;
  border-radius: var(--br-5xs);
  width: 39px;
}
.union-child16 {
  left: 7px;
  width: 34px;
}
.clave3 {
  width: 223px;
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 5px;
  left: 50px;
}
.clave2,
.icon33 {
  position: absolute;
  overflow: hidden;
}
.icon33 {
  height: 39.58%;
  width: 4.57%;
  top: 29.17%;
  right: 91.43%;
  bottom: 31.25%;
  left: 4%;
  max-width: 100%;
  max-height: 100%;
}
.clave2 {
  top: 442px;
  left: 309px;
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-100);
  border: 2px solid var(--color-lightseagreen);
  box-sizing: border-box;
  width: 350px;
  height: 48px;
}
.procesar3 {
  position: absolute;
  top: 545px;
  left: calc(50% - 85px);
  width: 170px;
  height: 45px;
  cursor: pointer;
}
.procesar3:hover {
  animation: 1s ease 0s infinite normal none fade-in;
  opacity: 1;
}
.telfono {
  width: 186px;
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 5px;
  left: 48px;
}
.icon34,
.telefono {
  position: absolute;
  overflow: hidden;
}
.icon34 {
  height: 39.58%;
  width: 5.43%;
  top: 29.17%;
  right: 91.14%;
  bottom: 31.25%;
  left: 3.43%;
  max-width: 100%;
  max-height: 100%;
}
.telefono {
  top: 372px;
  left: 707px;
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-100);
  border: 2px solid var(--color-lightseagreen);
  box-sizing: border-box;
  width: 350px;
  height: 48px;
}
.direccin {
  width: 273px;
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 5px;
  left: 50px;
}
.direccion,
.icon35 {
  position: absolute;
  overflow: hidden;
}
.icon35 {
  height: 45.83%;
  width: 5.14%;
  top: 27.08%;
  right: 91.14%;
  bottom: 27.08%;
  left: 3.71%;
  max-width: 100%;
  max-height: 100%;
}
.direccion {
  top: 442px;
  left: 707px;
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-100);
  border: 2px solid var(--color-lightseagreen);
  box-sizing: border-box;
  width: 350px;
  height: 48px;
}
.logo-icon9 {
  position: relative;
  width: 94.53px;
  height: 74px;
  object-fit: cover;
  mix-blend-mode: normal;
}
.technebog9,
.un-aliado-de9 {
  position: relative;
  line-height: 130%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 476px;
  height: 46px;
  flex-shrink: 0;
}
.un-aliado-de9 {
  font-size: var(--subtitulo-size);
  font-family: var(--subtitulo);
  height: 31px;
}
.component-214,
.logo-parent5,
.technebog-parent6 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.technebog-parent6 {
  width: 358px;
  flex-direction: column;
  gap: var(--gap-12xs);
}
.component-214,
.logo-parent5 {
  width: 453px;
}
.logo-parent5 {
  flex-direction: row;
  flex-wrap: wrap;
}
.component-214 {
  position: absolute;
  top: 0;
  left: 0;
  height: 71px;
  flex-direction: column;
  font-size: var(--titulo-size);
  color: var(--color-mediumaquamarine);
  font-family: var(--titulo);
}
.barra-de-opciones-child4,
.component-16-child4 {
  position: absolute;
  height: 96.83%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 3.17%;
  left: 0;
  background-color: var(--color-honeydew);
}
.component-16-child4 {
  height: 100%;
  bottom: 0;
}
.inicio13 {
  position: absolute;
  height: 26.23%;
  width: 53.91%;
  top: 37.7%;
  left: 23.48%;
  line-height: 130%;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.component-166 {
  position: absolute;
  height: 96.83%;
  width: 6.19%;
  top: 0;
  right: 91.92%;
  bottom: 3.17%;
  left: 1.89%;
  cursor: pointer;
}
.transferencias12 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  line-height: 130%;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.icon36 {
  position: absolute;
  height: 38.86%;
  width: 9.69%;
  top: 30.57%;
  right: -0.86%;
  bottom: 30.57%;
  left: 91.17%;
  border-radius: var(--br-12xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.component-1817,
.transferencias-parent9 {
  position: absolute;
  height: 26.23%;
  width: 72.9%;
  top: 36.07%;
  right: 13.26%;
  bottom: 37.7%;
  left: 13.84%;
}
.component-1817 {
  height: 87.3%;
  width: 11.58%;
  top: 3.17%;
  right: 65.99%;
  bottom: 9.52%;
  left: 22.43%;
  cursor: pointer;
  text-align: left;
}
.perfil7 {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  line-height: 130%;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon37 {
  position: absolute;
  height: 25%;
  width: 11.69%;
  top: 181.25%;
  right: -33.77%;
  bottom: -106.25%;
  left: 122.08%;
  border-radius: var(--br-12xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.component-1818,
.perfil-parent5 {
  position: absolute;
  height: 26.23%;
  width: 59.69%;
  top: 37.7%;
  right: 20.16%;
  bottom: 36.07%;
  left: 20.16%;
}
.component-1818 {
  height: 96.83%;
  width: 6.63%;
  top: 0;
  right: 85.36%;
  bottom: 3.17%;
  left: 8.01%;
  cursor: pointer;
}
.salir7 {
  position: absolute;
  height: 26.23%;
  width: 44.29%;
  top: 36.07%;
  left: 27.14%;
  line-height: 130%;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.component-176,
.component-197 {
  position: absolute;
  height: 92.06%;
  width: 5.1%;
  top: 3.17%;
  right: 51.42%;
  bottom: 4.76%;
  left: 43.48%;
  cursor: pointer;
}
.component-197 {
  height: 95.24%;
  width: 8.67%;
  top: 0;
  right: 76.98%;
  left: 14.35%;
}
.barra-de-opciones12,
.transferencias13 {
  position: absolute;
  top: 0;
  left: -14px;
  width: 1375px;
  height: 63px;
}
.transferencias13 {
  height: 100%;
  width: 100%;
  left: 0;
  line-height: 130%;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon38 {
  position: absolute;
  height: 25%;
  width: 7.96%;
  top: 175%;
  right: -18.98%;
  bottom: -100%;
  left: 111.01%;
  border-radius: var(--br-12xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.component-1819 {
  position: absolute;
  height: 87.3%;
  width: 11.58%;
  top: 4.76%;
  right: 58.96%;
  bottom: 7.94%;
  left: 29.45%;
  cursor: pointer;
}
.barra-de-opciones11 {
  position: absolute;
  top: 74px;
  left: 0;
  width: 1375px;
  height: 63px;
  font-size: var(--font-size-xs);
  color: var(--color-mediumaquamarine);
}
.banca-en-linea-perfil {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 768px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  font-family: var(--font-montserrat-alternates);
}
