@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes pulsate {
  0% {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
.chica-universitaria-que-trabaj-icon2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1366px;
  height: 845px;
  object-fit: cover;
}
.banca-en-linea-login-child {
  position: absolute;
  top: calc(50% - 272px);
  left: 62px;
  border-radius: var(--br-5xl);
  background-color: var(--color-white);
  box-shadow: 0 0 35px 11px rgba(0, 0, 0, 0.6);
  width: 445px;
  height: 611px;
}
.icon34 {
  position: relative;
  width: 445px;
  height: 611px;
  object-fit: cover;
}
.mask-group {
  position: absolute;
  top: 112px;
  left: 62px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.technebog-digital-wallet2 {
  font-weight: 600;
}
.technebog-digital-wallet-container1 {
  line-break: anywhere;
  width: 100%;
}
.technebog-digital-wallet-container {
  position: absolute;
  top: 173px;
  left: 96px;
  font-size: var(--font-size-3xl);
  line-height: 130%;
  display: flex;
  align-items: center;
  width: 377.36px;
  height: 53.76px;
}
.banca-en-linea-login-item {
  position: absolute;
  top: 219.68px;
  left: 114px;
  width: 340.84px;
  height: 2px;
}
.introduzca-usuario-y {
  margin: 0;
}
.introduzca-usuario-y-container {
  position: absolute;
  top: 233.05px;
  left: 118px;
  line-height: 130%;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 334px;
  height: 74px;
}
.olvidaste-tu-usuario {
  color: var(--color-mediumaquamarine);
}
.olvidaste-tu-usuario-container,
.quieres-ingresar-por,
.regstrate {
  position: absolute;
  left: 96px;
  line-height: 130%;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 377.36px;
  height: 35.5px;
}
.olvidaste-tu-usuario-container {
  top: 514.85px;
  cursor: pointer;
}
.quieres-ingresar-por,
.regstrate {
  top: 600.06px;
  justify-content: center;
}
.regstrate {
  top: 628px;
  left: 83px;
}
.banca-en-linea-login-inner {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 1366px;
  height: 71px;
}
.union-child17,
.union-child18 {
  position: absolute;
  top: 0;
  background-color: var(--color-darkslategray-100);
  height: 48px;
}
.union-child17 {
  left: 2px;
  border-radius: var(--br-5xs);
  width: 39px;
}
.union-child18 {
  left: 7px;
  width: 34px;
}
.union10 {
  position: relative;
  background-color: var(--color-honeydew);
  width: 39px;
  height: 48px;
  z-index: 0;
}
.usuario2 {
  position: relative;
  line-height: 130%;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 123px;
  height: 27px;
  flex-shrink: 0;
  z-index: 1;
}
.icon35,
.union-parent {
  position: absolute;
  overflow: hidden;
}
.icon35 {
  margin: 0 !important;
  height: 37.5%;
  width: 5.14%;
  top: 31.25%;
  right: 91.14%;
  bottom: 31.25%;
  left: 3.71%;
  max-width: 100%;
  max-height: 100%;
  z-index: 2;
}
.union-parent {
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-100);
  border: 2px solid var(--color-honeydew);
  box-sizing: border-box;
  width: 350px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) var(--padding-11xs);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.clave-de-internet {
  position: relative;
  line-height: 130%;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 160px;
  height: 27px;
  flex-shrink: 0;
  z-index: 1;
}
.icon36 {
  position: absolute;
  margin: 0 !important;
  height: 39.58%;
  width: 4.57%;
  top: 29.17%;
  right: 91.43%;
  bottom: 31.25%;
  left: 4%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 2;
}
.frame-parent,
.union-group {
  position: absolute;
  width: 350px;
}
.union-group {
  top: 70px;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-100);
  border: 2px solid var(--color-honeydew);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) var(--padding-11xs);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.frame-parent {
  top: 319px;
  left: 110px;
  height: 118px;
  text-align: left;
  color: var(--color-mediumaquamarine);
}
.component-1-child,
.entrar9 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.component-1-child {
  right: 0;
  bottom: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-honeydew);
}
.entrar9 {
  line-height: 130%;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.entrar9:hover {
  animation: 1s ease 0s infinite normal none fade-in;
  opacity: 1;
}
.component-1 {
  position: absolute;
  top: 464px;
  left: 139px;
  width: 290.12px;
  height: 44.63px;
  overflow: auto;
  cursor: pointer;
  font-size: var(--font-size-xl);
  color: var(--color-mediumaquamarine);
}
.logo-icon8 {
  position: relative;
  width: 94.53px;
  height: 74px;
  object-fit: cover;
  mix-blend-mode: normal;
}
.technebog8,
.un-aliado-de8 {
  position: relative;
  line-height: 130%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 476px;
  height: 46px;
  flex-shrink: 0;
}
.un-aliado-de8 {
  font-size: var(--subtitulo-size);
  font-family: var(--subtitulo);
  height: 31px;
}
.component-214,
.logo-parent5,
.technebog-parent6 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.technebog-parent6 {
  width: 358px;
  flex-direction: column;
  gap: var(--gap-12xs);
}
.component-214,
.logo-parent5 {
  width: 453px;
}
.logo-parent5 {
  flex-direction: row;
  flex-wrap: wrap;
}
.component-214 {
  height: 151px;
  flex-direction: column;
}
.aqui1,
.component-21-wrapper {
  position: absolute;
  display: flex;
}
.component-21-wrapper {
  top: -14px;
  left: -10px;
  flex-direction: column;
  padding: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--titulo-size);
  color: var(--color-mediumaquamarine);
  font-family: var(--titulo);
}
.aqui1 {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  line-height: 130%;
  font-weight: 600;
  align-items: center;
  justify-content: center;
}
.aqui,
.volver2 {
  position: absolute;
  cursor: pointer;
}
.aqui {
  top: 628px;
  left: 320px;
  width: 48px;
  height: 36px;
  color: var(--color-mediumaquamarine);
}
.aqui:hover {
  animation: 1s ease 0s infinite normal none pulsate;
  opacity: 1;
}
.volver2 {
  top: 676px;
  left: 253px;
  width: 82px;
  height: 21px;
  font-size: var(--font-size-xl);
}
.banca-en-linea-login {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 768px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  font-family: var(--font-montserrat-alternates);
}
