.instagram-1 {
  position: absolute;
  top: 0;
  left: 1339px;
  width: 27px;
  height: 17.44px;
  overflow: hidden;
}
.contacto-child {
  position: absolute;
  top: 146px;
  left: 0;
  background-color: var(--color-honeydew);
  width: 1379px;
  height: 344px;
}
.contacto1,
.correo2,
.fax,
.technebog-ca,
.telfono1 {
  position: absolute;
  line-height: 130%;
  display: flex;
  align-items: center;
}
.contacto1 {
  top: 167.33px;
  left: calc(50% - 227.17px);
  font-size: var(--font-size-41xl);
  justify-content: center;
  width: 910.67px;
  height: 44.54px;
}
.correo2,
.fax,
.technebog-ca,
.telfono1 {
  top: 432.54px;
  left: 1018px;
  text-align: left;
  width: 348px;
  height: 30.94px;
}
.correo2,
.fax,
.telfono1 {
  top: 262.36px;
  left: 530px;
  width: 380px;
  height: 36.47px;
}
.fax,
.telfono1 {
  top: 362.92px;
  left: 532px;
  width: 330.51px;
}
.telfono1 {
  top: 317.61px;
  left: 530px;
  width: 332.63px;
}
.facebook,
.twitter {
  left: 964px;
  justify-content: center;
  width: 332.63px;
  height: 36.47px;
}
.twitter {
  position: absolute;
  top: 264.07px;
  line-height: 130%;
  display: flex;
  align-items: center;
}
.facebook {
  top: 316px;
}
.direccin1,
.facebook,
.instargam {
  position: absolute;
  line-height: 130%;
  display: flex;
  align-items: center;
}
.instargam {
  top: 364.62px;
  left: 964px;
  justify-content: center;
  width: 332.63px;
  height: 36.47px;
}
.direccin1 {
  top: 406.02px;
  left: 530px;
  text-align: left;
  width: 420px;
  height: 58.57px;
}
.contacto-item,
.twitter-1-icon {
  position: absolute;
  top: 167.33px;
  left: 455px;
  width: 0;
  height: 302.78px;
}
.twitter-1-icon {
  height: 3.95%;
  width: 2.2%;
  top: 66.34%;
  right: 24.01%;
  bottom: 29.7%;
  left: 73.79%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.fax-1-icon,
.marcador-1-icon {
  position: absolute;
  top: 366.24px;
  left: 492px;
  width: 26px;
  height: 28.73px;
  overflow: hidden;
}
.marcador-1-icon {
  top: 418.17px;
  left: 489px;
  width: 32px;
  height: 35.36px;
}
.facebook-icon,
.llamada-telefonica-1-icon,
.sobre-1-icon {
  position: absolute;
  top: 266.78px;
  left: 493px;
  width: 25px;
  height: 27.63px;
  overflow: hidden;
}
.facebook-icon,
.llamada-telefonica-1-icon {
  top: 318.72px;
}
.facebook-icon {
  height: 3.69%;
  width: 2.05%;
  top: 55.42%;
  right: 23.87%;
  bottom: 40.89%;
  left: 74.08%;
  max-width: 100%;
  max-height: 100%;
}
.logo-icon9 {
  position: relative;
  width: 232px;
  height: 214px;
  object-fit: cover;
  mix-blend-mode: normal;
}
.logo-en-contacto,
.technebog9 {
  display: flex;
  align-items: center;
}
.technebog9 {
  position: relative;
  line-height: 130%;
  justify-content: center;
  width: 342px;
  height: 46px;
  flex-shrink: 0;
}
.logo-en-contacto {
  position: absolute;
  top: 181px;
  left: 51px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-mini);
  font-size: var(--titulo-size);
  font-family: var(--titulo);
}
.group-icon1 {
  position: absolute;
  height: 5.51%;
  width: 2.05%;
  top: 75.9%;
  right: 23.87%;
  bottom: 18.59%;
  left: 74.08%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.contacto {
  position: absolute;
  top: 1641.1px;
  left: -9px;
  width: 1379px;
  height: 490px;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-mediumaquamarine);
  font-family: var(--font-montserrat-alternates);
}
