@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=MonteCarlo:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monotype+Corsiva:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --subtitulo: "Monotype Corsiva";
  --titulo: MonteCarlo;
  --font-montserrat-alternates: "Montserrat Alternates";
  --font-playfair-display: "Playfair Display";

  /* font sizes */
  --subtitulo-size: 24px;
  --titulo-size: 48px;
  --font-size-xl: 20px;
  --font-size-3xl: 22px;
  --font-size-mini: 15px;
  --font-size-xs: 12px;
  --font-size-2xl: 21px;
  --font-size-41xl: 60px;
  --font-size-16xl: 35px;
  --font-size-smi: 13px;

  /* Colors */
  --color-white: #fff;
  --color-mediumaquamarine: #28cc9e;
  --color-black: #000;
  --color-honeydew: #ddfee4;
  --color-gray-100: rgba(255, 255, 255, 0);
  --color-lightseagreen: #49beb6;
  --color-darkslategray-100: #085f63;
  --color-darkslategray-200: #056061;
  --color-darkslategray-300: rgba(5, 96, 97, 0.21);

  /* Gaps */
  --gap-12xs: 1px;
  --gap-23xl: 42px;
  --gap-8xs: 5px;
  --gap-6xs: 7px;
  --gap-mini: 15px;

  /* Paddings */
  --padding-0: 0px;

  /* Border radiuses */
  --br-3xs: 10px;
  --br-5xs: 8px;
  --br-5xl: 24px;
  --br-12xs: 1px;
  --br-23xl: 42px;
  --br-mid: 17px;
  --br-xs: 12px;
}
